In [1]:
import pandas as pd
from textblob import TextBlob

In [2]:
file_path=r"C:\Users\udays\OneDrive\Desktop\4-1 project\All_Beauty.jsonl"
df = pd.read_json(file_path, lines=True)

In [3]:
df

,rating,title,text,images,asin,parent_asin,user_id,timestamp,helpful_vote,verified_purchase
0,5,Such a lovely scent but not overpowering.,This spray is really nice. It smells really go...,[],B00YQ6X8EO,B00YQ6X8EO,AGKHLEW2SOWHNMFQIJGBECAF7INQ,2020-05-05 14:08:48.923,0,True
1,4,Works great but smells a little weird.,"This product does what I need it to do, I just...",[],B081TJ8YS3,B081TJ8YS3,AGKHLEW2SOWHNMFQIJGBECAF7INQ,2020-05-04 18:10:55.070,1,True
2,5,Yes!,"Smells good, feels great!",[],B07PNNCSP9,B097R46CSY,AE74DYR3QUGVPZJ3P7RFWBGIX7XQ,2020-05-16 21:41:06.052,2,True
3,1,Synthetic feeling,Felt synthetic,[],B09JS339BZ,B09JS339BZ,AFQLNQNQYFWQZPJQZS6V3NZU4QBQ,2022-01-28 18:13:50.220,0,True
4,5,A+,Love it,[],B08BZ63GMJ,B08BZ63GMJ,AFQLNQNQYFWQZPJQZS6V3NZU4QBQ,2020-12-30 10:02:43.534,0,True
...,...,...,...,...,...,...,...,...,...,...
701523,4,Four Stars,Conditioner is great shampoo not as I expected,[],B006YUIWKA,B006YUIWKA,AFIXGFVEGLMOTMBTJL7H3VSIETDQ,2016-11-04 02:37:01.000,0,True
701524,1,Pretty,Did not work! Used the whole bottle and my hai...,[],B006YUIWKA,B006YUIWKA,AFV7YZFOJF564EZGET5LG45K4QEA,2016-12-05 03:32:10.000,0,False
701525,5,Great sunless tanner,Product as expected. Shipping was on time.,[],B06ZZV9MZT,B06ZZV9MZT,AHYDCWDMMVMLBX7FY7M7JKADKRDQ,2020-05-27 02:52:54.067,0,True
701526,5,The Crown on top is a Ring!!!,"Not only is it a delicious fragrance, but also...",[],B000HB6VLE,B000HB6VLE,AF6ZIAEN7TQ2WY5ZL77F6JDPV7XQ,2007-07-18 22:36:49.000,4,False
701527,4,Good Shampoo/Conditioner,The conditioner doesn't really make your hair ...,[],B0093MXHFG,B0093MXHFG,AGIYQU6RK6TBKBCMWKVPBPBMMJNA,2013-04-26 02:48:06.000,1,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701528 entries, 0 to 701527
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   rating             701528 non-null  int64
 1   title              701528 non-null  object
 2   text               701528 non-null  object
 3   images             701528 non-null  object
 4   asin               701528 non-null  object
 5   parent_asin        701528 non-null  object
 6   user_id            701528 non-null  object
 7   timestamp          701528 non-null  datetime64[ns]
 8   helpful_vote       701528 non-null  int64
 9   verified_purchase  701528 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(6)
memory usage: 48.8+ MB

In [5]:
df.dtypes

rating                        int64
title                        object
text                         object
images                       object
asin                         object
parent_asin                  object
user_id                      object
timestamp            datetime64[ns]
helpful_vote                  int64
verified_purchase              bool
dtype: object

In [6]:
df.describe()

              rating                      timestamp   helpful_vote
count  701528.000000                         701528  701528.000000
mean        3.960245  2019-04-09 03:31:48.115045888       0.923588
min         1.000000            2000-11-01 04:24:18       0.000000
25%         3.000000  2017-08-01 19:39:25.777499904       0.000000
50%         5.000000  2019-10-20 18:11:28.616499968       0.000000
75%         5.000000  2021-03-02 01:05:05.557999872       1.000000
max         5.000000     2023-09-09 00:39:36.666000     646.000000
std         1.494452                            NaN       5.471391

In [7]:
df.shape

(701528, 10)

In [8]:
df.keys()

Index(['rating', 'title', 'text', 'images', 'asin', 'parent_asin', 'user_id',
       'timestamp', 'helpful_vote', 'verified_purchase'],
      dtype='object')

In [9]:
df.isna().sum()

rating               0
title                0
text                 0
images               0
asin                 0
parent_asin          0
user_id              0
timestamp            0
helpful_vote         0
verified_purchase    0
dtype: int64

In [10]:
df = df[df["verified_purchase"] != False]
df=df[["rating","title","text","asin","parent_asin"]]

In [11]:
print(df["title"].apply(type).value_counts())
print(df["text"].apply(type).value_counts())
df["title"] = df["title"].astype("string")
df["text"] = df["text"].astype("string")
df["asin"] = df["asin"].astype("string")
df["parent_asin"] = df["parent_asin"].astype("string")

title
<class 'str'>    634969
Name: count, dtype: int64
text
<class 'str'>    634969
Name: count, dtype: int64

In [12]:
df.dtypes

rating                  int64
title          string[python]
text           string[python]
asin           string[python]
parent_asin    string[python]
dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 634969 entries, 0 to 701527
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   rating       634969 non-null  int64
 1   title        634969 non-null  string
 2   text         634969 non-null  string
 3   asin         634969 non-null  string
 4   parent_asin  634969 non-null  string
dtypes: int64(1), string(4)
memory usage: 29.1 MB

In [14]:

df.describe()

              rating
count  634969.000000
mean        3.948166
std         1.505427
min         1.000000
25%         3.000000
50%         5.000000
75%         5.000000
max         5.000000

In [16]:
# inp="B07PNNCSP9" #positive
#B01AKTGHFW # negative
inp=input()
if inp in df["asin"].values:
    text = df[df["asin"] == inp]["text"]
    combined_text = " ".join(text)

# Perform sentiment analysis using TextBlob
    blob = TextBlob(combined_text)

# Get the polarity and subjectivity
    polarity = blob.sentiment.polarity  # Ranges from -1 (negative) to 1 (positive)

# Print the results
    if polarity>0.25:
        print("it is recommended to buy this product")
    else:
        print("it is not recommended to buy this product")
    #print(text)
    print(polarity)

 B01AKTGHFW

it is not recommended to buy this product
0.13801120343472315

In [17]:

print(text)

27        nothing special  unfortunately i waited too lo...
7395      I like these. I'm not sure if they do anything...
160433    It wasn't a as good as  other  brand I had rec...
160437                           Shrunk after they get wet.
160438    Just started using these, so far they leave my...
160442        Doesn't seem to last as other Konica sponges.
160443    Not scratchy at all - very smooth feeling and ...
160445                                        Useless item!
160447    Love these for my face and will buy more when ...
160450    I really like these scrubs. They polish my fac...
160451    Way too soft to do any cleaning. Just seems to...
160454    I bought these for myself. I am in my early 50...
160456      Helped with my husband black heads on his nose.
160458    This works as expected but I would prefer they...
160459    I had high hopes for this, but a few hours aft...
Name: text, dtype: string